!!! XHTML
%head
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
  %title panda web client login
  %link{:type=>"text/css",:href=>"css/gtk_panda.css",:rel=>"Stylesheet"}
  %link{:type=>"text/css",:href=>"css/ui-lightness/jquery-ui-1.8.18.custom.css",:rel=>"Stylesheet"}
  %script{:type => 'text/javascript', :src => "js/jquery-1.7.1.min.js"}
  %script{:type => 'text/javascript', :src => "js/jquery-ui-1.8.18.custom.min.js"}
  %script{:type => 'text/javascript', :src => "js/gtk_panda.js"}
  %script{:type => 'text/javascript', :src => "js/monsia.js"}
  %script{:type => 'text/javascript', :src => "js/client.js"}
%body
  %div#pws_login
    %form#pws_login_form{:method=>"post"}
      %p#pws_login_message
      %table
        %tr
          %td{:align =>"right"}
            %label{:for => "user"} user
          %td{:align =>"left"}
            %input#pws_login_user{:type=>"text",:name=>"user"}
        %tr
          %td{:align =>"right"}
            %label{:for => "password"} password
          %td{:align =>"left"}
            %input#pws_login_password{:type=>"password",:name=>"password"}
      %input#pws_login_button{:type=>"submit"}
