!!! XHTML
%head
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
  %title main
  %link{:type=>"text/css",:href=>"css/gtk_panda.css",:rel=>"Stylesheet"}
  %link{:type=>"text/css",:href=>"css/ui-lightness/jquery-ui-1.8.18.custom.css",:rel=>"Stylesheet"}
  %script{:type => 'text/javascript', :src => "js/jquery-1.7.1.min.js"}
  %script{:type => 'text/javascript', :src => "js/jquery-ui-1.8.18.custom.min.js"}
  %script{:type => 'text/javascript', :src => "js/gtk_panda.js"}
  %script{:type => 'text/javascript', :src => "js/monsia.js"}
  %script{:type => 'text/javascript', :src => "js/client.js"}
%body
  %div
    %a{:title => 'logout', :href => '/logout'} logout
